<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.daoyundev.mapper.DictionaryMapper">

    <select id="queryAllDic" resultType="com.zx.daoyundev.entity.Dictionary">
        select *
        from dictionary
    </select>
    <insert id="addDict" useGeneratedKeys="false" keyProperty="dictionaryId">
        insert into dictionary(dictionaryCode, dictionaryDescribe, pId)
        values (#{dictionaryCode}, #{dictionaryDescribe}, #{pId})
    </insert>
    <select id="getcountbypId" resultType="java.lang.Integer">
        select count(*)
        from dictionary
        where pId = #{pId}
    </select>
    <select id="querybypId" resultType="com.zx.daoyundev.entity.Dictionary">
        select *
        from dictionary
        where pId = #{pId}
    </select>

</mapper>