<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.daoyundev.mapper.RighMapper">
    <select id="queryAllRigh" resultType="com.zx.daoyundev.entity.Righ">
        select *
        from righ
    </select>
    <select id="getRightById" resultType="com.zx.daoyundev.entity.Righ">
        select *
        from righ
        where rightId = #{rightId}
    </select>
    <delete id="deleteRightById" parameterType="java.lang.Integer">
        delete
        from righ
        where rightId = #{rightId}
    </delete>
    <update id="updateRight" parameterType="com.zx.daoyundev.entity.Righ">
        update righ
        set rightName = #{rightName},
            rightDescribe  = #{rightDescribe}
        where rightId = #{rightId}
    </update>
    <insert id="addRight" useGeneratedKeys="true" keyProperty="rightId">
        insert into righ(rightName, rightDescribe)
        values (#{rightName}, #{rightDescribe})
    </insert>
    <select id="geyRightCountByRightId" resultType="java.lang.Integer">
        select count(*)
        from righ
        where rightId = #{rightId}
    </select>
</mapper>