<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.daoyundev.mapper.RolerightMapper">
    <select id="queryAllRoleRight" resultType="com.zx.daoyundev.entity.Roleright">
        select *
        from roleright
    </select>
    <select id="getRoleRightById" resultType="com.zx.daoyundev.entity.Roleright">
        select *
        from roleright
        where rolerightId = #{rolerightId}
    </select>
    <select id="getRoleRightByRoleId" resultType="com.zx.daoyundev.entity.Roleright">
        select *
        from roleright
        where rolerightId = #{rolerightId}
    </select>
    <select id="getRoleRightByRightId" resultType="com.zx.daoyundev.entity.Roleright">
        select *
        from roleright
        where rightId = #{rightId}
    </select>
    <delete id="deleteRoleRightById" parameterType="java.lang.Integer">
        delete
        from roleright
        where rolerightId = #{rolerightId}
    </delete>
    <insert id="addRoleRight" useGeneratedKeys="true" keyProperty="rolerightId">
        insert into roleright(roleId, rightId)
        values (#{roleId}, #{rightId})
    </insert>
</mapper>